body {
  margin: 0px -50px;
}

#objectContainer {
  overflow:hidden; 
  padding:0; 
  position:relative;
  margin: 0 auto;

}

.object {
	background-color: #91e600;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top:0;
	left:0;
	
}
.square {

}
.circle {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

#dynamicAdd {
	position: absolute;
	left: 50%;
	top: 50%;
}